.interna_Portfolio{
  background: url(../img/bg-portfolio.jpg) no-repeat center;
  background-size: cover;
}
.quote_clintes{
  padding: 60px 0;
  max-width: 500px;
  margin: 0 auto;
}
.quote_clintes p{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
  padding-bottom: 20px;
}
.quote_clintes cite{
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  float: right;
}

