/* Estilos para tablet*/

@media only screen and (min-width: 788px) and (max-width: 979px){
	/* Qualidade */
	.qualidade:after{
		right: 66.5px;
	}
	.qualidade_lista li {
		padding: 0 10px;
	}
	/* footer */

	.footer_redes ul li a{
		border: 3px solid #FEC63E;
		display: block;
		padding: 4px;
	}
	.footer_redes ul li a img{
		width: 22px;
		height: 22px;
	}

	/* Produtos */

	.produto_item h2{
		top: -150px;
		margin-bottom: -36px;
	}
	.produtos_icones{
		padding: 41px 0;
	}
	.produto_info p{
		font-size: 14px;
		line-height: 20px;
		height: 122px;
		padding: 20px 30px;
	}
	.produto_info ul li{
		width: 181px;
		height: 49px;

	}
	/* Contato Tablet */

	.contato_form{
		padding-right: 0px;
		margin-bottom: 40px;

	}

}/* Final do estilo tablet*/
@media only screen and (max-width: 787px){
	/* Header */
	.header{
		position: relative;
		padding-bottom: 0;
	}
	.header img{
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.header_menu{
		text-align: center;
	}
	.header_menu ul li{
		margin: 5px;
	}
	.header_menu ul li a {
		border: 4px solid #000;
		width: 136px;
		display: block;
		float: left;
	}
	.header_menu ul li a:hover{
		color: #fff;
	}
	.header_menu ul li a.menu_ativo {
		border-color: #fff;
	}

	/*Introducao*/

	.introducao{
		margin-top: 0;
		padding-top: 40px;
	}
	.introducao h1{
		font-size: 36px;
		}

	/* Introcucao interna */
	
	.introducao_interna{
		margin-top: 0px;
	 }

	/* Call */
	.call{
		padding: 10px;
	}
		/* Qualidade Home*/
		.qualidade:after{
			right: 66.5px;
			display: none;
		}
		/* footer Home*/
	
		.footer_historia h3{
			padding-left: 50px;
		}
		.quote_historia{
			padding-left:  45px;
		}
		/* Sobre */
		.missao_sobre p{
			font-size: 14px;
			line-height: 25px;
			padding-right: 0px;
		}
		.missao_sobre ul li{
			font-size: 14px;
			line-height: 30px;
		}

		/* Produtos Mobile */

		.produto_item h2{
			top: -100px;
			margin-bottom: -48px;
		}
		.produtos_icones{
			padding: 41px 0;
		}
		.produto_info p{
			font-size: 14px;
			line-height: 20px;
			height: auto;
			padding: 20px 30px;
		}
		.produto_info ul li{
			width: 149px;
			height: 49px;
			font-size: 14px;
			line-height: 20px;
			padding-top: 14px;
	
		}
		.form{
			padding-right: 0px;
		}
		.dados ul{
			padding-right: 0px;
		}

		/* Contato mobile */

} /* Final estilo mobile */